* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Mulish;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.navigation {
    gap: 40px;
    list-style: none;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-centre {
    align-items: center;
}

nav a {
    color: #1f1534;
}

nav a:hover {
    color: blue;
    font-weight: 600;
    cursor: pointer;
}

.button {
    border-radius: 55px;
    padding: 16px 37px;
    border: none;
    background-color: #458ff6;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    color: white;
}

button:hover {
    background-color: #589bf8;
    cursor: pointer;
}

button:active {
    background-color: #2271e0;
}

.banner {
    gap: 131px;
    margin-top: 86px;
}

.banner-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 30px;
}

.banner-description {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 40px;
}

.card {
    background-color: white;
    box-shadow: 10px 40px 50px 0px #e5e9f666;
    width: 250px;
    height: 260px;
    border-radius: 20px;
    padding: 66px 56px 50px 39px;
    gap: 60px;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.card-des {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

.cards-wrapper {
    flex-wrap: wrap;
    gap: 14px;
    row-gap: 30px;
}

.fa-arrow-right {
    color: #6924ff;

}

.w1 {
    text-align: center;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    text-align: center;
    margin-bottom: 80px;
}

.q2 {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.but {
    background-color: aliceblue;
    color: #458ff6;
    text-align: center;
    border: 1.4px solid #458ff6;
    border-radius: 55px 55px 55px 55px;
    width: 150px;
    height: 50px;
}



.suv1 {

    margin-top: 20px;
    justify-content: center;
    border-radius: 55px 55px 55px 55px;
    display: flex;

    margin-bottom: 70px;
}

.qwerty {
    text-align: center;
    margin-bottom: 60px;
}

.alt1 {
    width: 380px;
    height: 500px;
    gap: 40px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    /* display: flex; */
    box-shadow: 10px 40px 50px 0px #e5e9f666;


}


.mers {
    display: flex;
    gap: 30px;

}

.clever {
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    display: flex;

}

.ona {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}


.ewq {
    height: 200px;
    width: 1195px;
}
